*.swp
driver/*.swp
cscope.out
.vs
dsneditor/EsOdbcDsnEditor/Debug/
dsneditor/EsOdbcDsnEditorLauncher/bin/
dsneditor/EsOdbcDsnEditorLauncher/obj/
installer/src/Tests/Tests/**/.vagrant/
installer/src/Installer/driver/
