source https://api.nuget.org/v3/index.json

nuget WixSharp.bin
nuget WixSharp.wix.bin

group build
	source https://www.nuget.org/api/v2

	nuget FAKE.x64
	nuget FSharp.Data
	nuget FSharp.Text.RegexProvider
	nuget FSharp.Configuration
	nuget DotNetZip
	nuget System.Management.Automation 6.1.7601.17515