source https://api.nuget.org/v3/index.json

nuget WixSharp.bin
nuget WixSharp.wix.bin
nuget semver

source https://www.nuget.org/api/v2

nuget xunit
nuget FluentAssertions

group build
    source https://www.nuget.org/api/v2

	nuget FAKE.x64
    nuget FSharp.Data
	nuget FSharp.Text.RegexProvider
    nuget FSharp.Configuration
    nuget System.Management.Automation

    source https://www.myget.org/F/xunit/
    nuget xunit.runner.console 2.2.0
